.h1 {
    color: blue;

}
.name-title {
    border-width:3px;  
    border-style:double;
    color: blue
}
.name-title {
    text-align: center
}
.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }